html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #daebf2;
    color: #012c40;
    font-family:Arial, Helvetica, sans-serif
}

header{
    display: flex;
    flex-direction: column;
    background-color: #012c40;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.logo-container img {
    height: 45px;
    width: auto;
}

.header-links{
    display: flex;
    align-items: center;
}

.header-links .items {
    margin-left: 15px;
    color: #ffffff;
}

#welcome-message{
    display: none;
}

.responsive-icon {
    font-size: 1.4em;
}

#logout-btn{
    background-color: #012c40;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: #daebf2;
    border: solid 2px #daebf2;
    font-size: 0.8em;
    font-weight: bold;
}

.main-nav {
    background-color: #1ca5b8;
}

.main-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
    list-style: none;    
}

.main-nav-links li {
    flex: 1;
    text-align: center;
}

.main-nav-links li a {
    text-decoration: none;
    color:#ffffff;
    font-size: 0.9em;
}

.main-nav-links li a.active{
    color: #012c40;
    font-weight: bold;
}


/*Main*/
main {
    margin: 2% 10%;
}

/*Footer*/
footer {
    padding: 5px;
    text-align: center;
}


.title{
    padding-bottom: 2%;
}

.flashes{
    list-style: none;
    padding: 1%;
    background-color: #b7b8b7;
    border: dashed #df6c6c 2px;
}

/* Tabs */
.tab {
    overflow: hidden;
}
  
.tab .tablinks {
    background-color: #ffffff;
    float: left;
    border: 1px solid #dddddd;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab .notification-tabs{
    width: 20%;
}

.tab .user-tabs{
    width: 50%;
}
  
.tab button:hover {
    background-color: #dddddd;
}
  
.tab button.active {
    background-color: #cccccc;
    color:#dc3545;
    font-weight: bold;
}
  
.tabcontent {
    display: none;
    padding: 2%;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}



/*********************** Index (Posts) ******************************/
/* Top of Posts page */
.search-and-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-form, .create-post-form {
    flex: 1;
}

.search-form button{
    background-color: #a9adce;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: #012c40;
    border: solid 2px #012c40;
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
    cursor: pointer;
}

.search-form button:hover{
    background-color: #012c40;
    color: #a9adce;
    border: solid 2px #a9adce;
}

.search-form button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.search-form input{
    padding: 0.5em;
}

/* Create Post Form */
.create-post-form{
    display: flex;
    flex-direction: column;
}

.create-post-form input[type="text"]{
    width: 50%;
    margin-bottom: 2%;
    padding: 0.5em;
}

.create-post-form textarea{
    margin-bottom: 2%;
}

.create-post-form button{
    width: 100%;
    margin-top: 1em;
    background-color: #a9adce;
    padding: 0.5em;
    border-radius: 5px;
    color: #012c40;
    border: solid 2px #012c40;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.create-post-form button:hover{
    background-color: #012c40;
    color: #a9adce;
    border: solid 2px #a9adce;
}

.create-post-form button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#post-hr{
    margin: 3em 0;
}

#filtered-msg{
    background-color: #1ca5b8;
    color: #ffffff;
    padding: 1em;
    margin-bottom: 3em;
}

#filtered-msg a{
    margin-left: 1em;
    color: #ffffff;
    font-weight: bold;
}


.post{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5%;
    margin-bottom: 3em;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post-title{
    flex: 1;
    margin: 0;
    font-size: 1.5em;
}

.user-info{
    text-align: right;
}

.user-info *{
    margin: 0;
}

.post-content{
    margin-top: 20px;
    font-size: 1em;
}

.post hr{
    margin: 1.75em 0;
    background-color: #0056b3;
}

/* Likes and Comments */
.post-likes-comments {
    padding: 0% 5%;
}

/* Like button */
.likes-form{
    margin: 2% 0%;
}

.like-button {
    background-color: #ffffff;
    color: #21c3d9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.like-button:hover {
    background-color: #21c3d9;
    color: #daebf2;
}

.like-button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.like-count {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

/* Comments Section */
.comment-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border-top: 1px solid #ddd;
}

.comment-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.comment-item .comment-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-item .comment-timestamp{
    font-size: 12px;
    color: #888;
    white-space: nowrap;
}

.comment-item strong {
    color: #21c3d9;
}

.comment-item small {
    font-size: 12px;
    color: #888;
    white-space: nowrap;
}

.comment-item .delete-comment-form {
    margin-left: 10px;
}

.delete-comment-form{
    margin-top: 5px;
    text-align: right;
}

.delete-button {
    background-color: #ff404c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 12px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

/* No Comments Message */
.no-comments {
    color: #777;
    font-style: italic;
}

/* Add Comment Form */
.add-comment-form {
    display: flex;
    flex-direction: column;
}

.add-comment-form textarea {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    margin: 2% 0%;
}

.add-comment-form button {
    align-self: flex-end;
    background-color: #012c40;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0 1em;
}
.add-comment-form button:hover {
    background-color: #21c3d9;
}


/************************************ Users ********************************/
.user{
    background-color: #91a3a2;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    margin: 2% 0;
    text-decoration: none;
    color: #000000;
}

.user-details{
    margin-right: 20px;
}
.user .friend-status{
    display: flex;
    align-items: center;
}

.user .friend-status .square-btn, .user .friend-status .square-btn:disabled{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.user .friend-status .square-btn:disabled{
    background-color: #91a3a2;
    color: #000000;
    border: none;
    cursor: auto;
}

.user .friend-status .send{
    background-color: #fafafa;
    color: #000000;
    border: solid 2px #000000;
}

.user .friend-status .send:hover{
    background-color: #d8d8d8;
}

.user .friend-status .send:active, 
.user .friend-status .accept:active, 
.user .friend-status .decline:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.user .friend-status .accept{
    background-color: #6cdf9b;
    color: #000000;
    margin-right: 20px;
    border: solid 2px #000000;
}

.user .friend-status .accept:hover{
    background-color: #388a59;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.user .friend-status .decline{
    background-color: #df6c6c;
    color: #000000;
    border: solid 2px #000000;
}

.user .friend-status .decline:hover{
    background-color: #a03838;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.user-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


/***************************** Notifications **************************/
.likes-and-comments{
    list-style: none;
    padding: 0;
}

.likes-and-comments li{
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
}

#liker-name, #commenter-name{
    color: #0056b3;
}


/************************** Profile **********************************/
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 3em 0;
}

.profile-header .title {
    margin: 0;
}

.profile-header button {
    padding: 8px 16px;
    cursor: pointer;
}

.user-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.user-contact-info p {
    margin: 0 10px 10px 10px;
    flex: 1;
    text-align: left;
}

.user-contact-info p i{
    margin-right: 10px;
}

.user-contact-info:has(p + p) {
    justify-content: space-between;
}

.user-bio{
    background-color: #216288;
    color: #ffffff;
    padding: 1.5% 3%;
    border-radius: 10px;
    margin: 3% 0;
}

.user-languages{
    background-color: #adadad57;
    border-radius: 10px;
    padding: 1em 3em;
    margin-bottom: 3em;
}

.languages-container::after {
    content: "";
    clear: both;
    display: table;
}

#languages-title{
    font-size: 1em;
    line-height: 1.25em;
    margin-bottom: 3em;
}

.language{
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 3em;
    position: relative;
}

/*Language image*/
.language img{
    width:50px;
    height:auto;
}



/********************************* Edit Profile ****************************/
.edit-profile-container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.edit-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: #333333;
}

.edit-profile-container .username {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    color: #555555;
    margin-bottom: 1em;
}

.edit-profile-container label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1em;
    display: block;
    color: #333333;
}

.edit-profile-container input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.edit-profile-container .languages-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.edit-profile-container .language-option {
    width: 48%;
    margin-bottom: 10px;
}

.edit-profile-container input[type="checkbox"] {
    margin-right: 8px;
}

.edit-profile-container .submit-btn {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.edit-profile-container .submit-btn:hover {
    background-color: #218838;
}

@media (min-width: 600px) {
    #welcome-message{
        display: block;
    }

    .responsive-icon {
        font-size: 1.75em;
    }

    .logo-container img {
        height: 60px;
    }

    .header-top{
        padding: 10px 20px;
    }

    #logout-btn{
        font-size: 1em;
    }

    .main-nav-links li a {
        font-size: 1em;
    }

    .create-post-form button{
        width: 30%;
        margin-left: auto;
        margin-top: 0em;
    }

    .delete-button {
        padding: 0.75em;
    }

    .add-comment-form button {
        padding: 1em;
    }
}

@media (min-width: 1100px) {
    .logo-container img {
        height: 75px;
    }

    .responsive-icon {
        font-size: 2em;
    }

    .main-nav-links li a {
        font-size: 1.25em;
    }

    .search-and-post{
        flex-direction: row;
    }

    .user-contact-info {
        flex-direction: row;
    }

    .user-contact-info p {
        margin: 0 10px;
    }

    .language{
        width: 25%;
    }

    .language img{
        width:75px;
    }

    .user-container {
        grid-template-columns: repeat(2, 1fr);
    }
}