<!DOCTYPE html>
<html lang="en">
<!--Head with block tag for page title-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/fc6f6498bf.js" crossorigin="anonymous"></script>
  <link rel="icon" href="static/images/favicon.ico">
</head>
<body class="{% if request.endpoint in ['login', 'register'] %}login-register{% else %}default{% endif %}">
    <!--Header-->
    <header>
        <div class="header-top">
            <div class="logo-container">
                <a href="{{ url_for('posts') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Tech Connect Logo" class="logo">
                </a>
            </div>
            <div class="header-links">
                {% if current_user.is_authenticated %}
                    <p class="items" id="welcome-message">Welcome {{ current_user.profile.first_name }}!</p>
                    <a href="{{ url_for('profile', user_id=current_user.id) }}" class="items"><i class="fa-solid fa-user responsive-icon"></i></a>
                    <form action="{{ url_for('logout_action') }}" method="POST" class="items">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{{ url_for('register') }}" class="items-log-reg {% if request.endpoint == 'register' %}highlight{% endif %}">Register</a>
                    <a href="{{ url_for('login') }}" class="items-log-reg {% if request.endpoint == 'login' %}highlight{% endif %}">Login</a>
                {% endif %}
            </div>
        </div>


        
        <!--Navigation to main pages-->
        {% if current_user.is_authenticated %}
            <nav class="main-nav">
                <ul class="main-nav-links">
                        <li><a href="{{ url_for('posts') }}" class="{% if request.endpoint == 'posts' %}active{% endif %}">Posts</a></li>
                        <li><a href="{{ url_for('users') }}" class="{% if request.endpoint == 'users' %}active{% endif %}">Users</a></li>
                        <li><a href="{{ url_for('notifications') }}" class="{% if request.endpoint == 'notifications' %}active{% endif %}">Notifications</a></li>
                </ul>
            </nav>
        {% endif %}
    </header>

    <!--Main Content-->
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block main %}{% endblock %}
    </main>

    <!--Footer-->
    <footer>
        <p>&copy; Tech Connect</p>
    </footer>

    <!--Block tag for Javascript links-->
    {% block scripts %}{% endblock %}
    
</body>
</html>
