{% extends "base.html" %}
{% block title %}Posts{% endblock%}
{% block main %}

<h1 class="title">Posts</h1>

<div class="search-and-post">
<!-- Form to search for post -->
<form class="search-form" method="GET" action="{{ url_for('posts') }}">
    <h2><i class="fa-solid fa-magnifying-glass"></i> Search by post title:</h2>
    <!-- Search Title input -->
    <input type="text" name="title" placeholder="Post Title">
    <!-- Search button -->
    <button type="submit">Search</button>
</form>


<!-- Form to creat a new post -->
<form action="{{ url_for('create_post') }}" method="POST" class="create-post-form">
    <h2><i class="fa-solid fa-pen-to-square"></i> Create a new post:</h2>
    <!-- Title input -->
    <input type="text" name="title" placeholder="Post Title" required>
    <!-- Post content text area -->
    <textarea name="content" rows="4" cols="50" placeholder="What's on your mind?" required></textarea>
    <!-- Post button -->
    <button type="submit">Post</button>
</form>
</div>



<hr id="post-hr">

<!-- 'filtered by' message -->
{% if search_title %}
    <p id="filtered-msg">Posts filtered by titles which contain '{{ search_title }}' <a href="{{ url_for('posts') }}">Show all posts</a></p>
{% endif %}

<!-- If posts exist -->
{% if posts %}
    <!-- For each post -->
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <!-- Posts title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <div class="user-info">
                    <!-- User who created post and link to their profile -->
                    <a href="/profile/{{ post.user.id }}">
                        <h4>{{ post.user.profile.first_name }} {{ post.user.profile.surname }}</h4>
                    </a>
                    <!-- Time the post was created -->
                    <small>{{ post.timestamp.strftime('%d-%m-%Y %H:%M') }}</small>
                    
                    <br>
                    
                    <!-- If current user created post -->
                    {% if post.user_id == current_user.id %}
                        <!-- Edit button to allow user to edit post -->
                        <a href="{{ url_for('edit_post', post_id = post.id) }}">
                            <button type="button" class="edit-button">Edit Post</button>
                        </a>
                        <!-- Delete button which shows javascript alert to ask user if they are sure they want to delete post -->
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" onsubmit="return confirmDelete();">
                            <input type="hidden" name="next" value="posts">
                            <button type="submit" class="delete-button">Delete Post</button>
                        </form>
                    {% endif %}
                </div>
            </div>

            <div class="post-content">
                <!-- Posts content -->
                <p>{{ post.content }}</p>
            </div>

            <hr>

            <div class="post-likes-comments">
                <!-- Like Button -->
                <form action="{{ url_for('like_post', post_id=post.id) }}" method="POST" class="likes-form">
                    <input type="hidden" name="next" value="posts">
                    <button type="submit" class="like-button">
                        <!-- If user has already liked post, show 'Unlike'-->
                        {% if post.liked_by_current_user %}
                            <i class="fa-solid fa-thumbs-up fa-lg"></i>
                        <!-- Else show 'Like' -->
                        {% else %}
                            <i class="fa-regular fa-thumbs-up fa-lg"></i>
                        {% endif %}
                    </button>
                    <!-- Show total number of likes on post -->
                    <span class="like-count">{{ post.likes|length }} Likes</span>
                </form>

                <!-- If post has comments -->
                {% if post.comments%}
                    <ul class="comment-list">
                        <!-- For each comment-->
                        {% for comment in post.comments %}
                            <li class="comment-item">
                                <div class="comment-content">
                                    <div>
                                        <!-- Name of user who posted comment -->
                                        <strong>{{ comment.user.profile.first_name }} {{ comment.user.profile.surname }}:</strong>
                                        <!-- Comment content --> 
                                        {{ comment.comment }} 
                                    </div>

                                    
                                    <!-- Date and time comment was posted -->
                                    <small class="comment-timestamp">{{ comment.timestamp.strftime('%d-%m-%Y %H:%M') }}</small>

                                </div>
                                
                                <!-- If comment was posted by current user, allow them to delete -->
                                {% if comment.user_id == current_user.id %}
                                <div class="delete-comment-form">
                                    <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="POST" class="delete-comment-form">
                                        <input type="hidden" name="next" value="posts">
                                        <button type="submit" class="delete-button">Delete</button>
                                    </form>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                <!-- Else show 'No Comments' message -->
                {% else %}
                    <p class="no-comments">No Comments</p>
                {% endif %}


                <!-- Form to add a comment to post -->
                <form action="{{ url_for('comment_post', post_id=post.id) }}" method="POST" class="add-comment-form">
                    <input type="hidden" name="next" value="posts">
                    <!-- Comment textares-->
                    <textarea name="comment" rows="2" placeholder="Write a comment..." required></textarea>
                    <!-- Comment button -->
                    <button type="submit">Comment</button>
                </form>
            </div>

        </div>
    {% endfor %}
<!-- Else show 'No posts found' message -->
{% else %}
    <p>No Posts Found</p>
{% endif %}

<button onclick="topFunction()" id="backToTopBtn" title="Go to top"><i class="fa-solid fa-arrow-up fa-xl"></i></button>


{% endblock%}
{% block scripts %}
    <!--Link to Javascript-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock%}